{{text}}{{i-mdi icon="plus" class='right'}}

{{#if modal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <p>{{device.hardwareId}}</p>
    {{md-input required=true placeholder="Email" value=email isValid=isValid}}
    <p>{{md-btn action='save' icon='check' disabled=isInvalid}}</p>
  {{/modal-dialog}}
{{/if}}