{{text}}{{i-mdi icon=icon class=(if left 'left' 'right')}}

{{#if modal}}
  {{#modal-dialog close="toggleModal"
    targetAttachment="center"
    translucentOverlay=true}}

    {{md-input placeholder="Name" changeset=this property="name"}}
    {{radio-group group=(hash Residential='Residential' Commercial='Commercial') changeset=this property="customerType"}}
    Time Zone:
    {{#x-select value=timeZone classNames="browser-default"}}
      {{#each (array 'PT' 'MT' 'CT' 'ET' 'GMT') as |value|}}
        {{#x-option value=value}}
          {{value}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}

    <p>{{md-btn action='save' icon='check' disabled=isInvalid}}</p>
  {{/modal-dialog}}
{{/if}}