<div>
  {{device.hardwareId}}
  &nbsp;-&nbsp;
  {{device.status}}
  {{#if device.updatedAt}}
    ({{moment-from-now device.updatedAt hideSuffix=true}})
  {{/if}}
  <a href="#!" class="secondary-content" {{action 'destroy'}}>{{i-mdi class="mdi-24px red-text" icon='close'}}</a>
  <a href="#!" class="secondary-content">{{i-mdi class="mdi-24px" icon='plus' click=(toggle "modal" this)}}</a>
</div>

{{#if modal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <p>{{device.hardwareId}}</p>
    {{md-input placeholder="Name" changeset=this property="deviceName"}}
    {{#x-select value=deviceOrganization classNames="browser-default"}}
      <option>Select organization</option>
      {{#each organizations as |organization|}}
        {{#x-option value=organization}}
          {{organization.name}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
    <p>{{md-btn action='save' disabled=isInvalid icon='check'}}</p>
  {{/modal-dialog}}
{{/if}}