<header>
  {{#unless noNav}}
    {{#nav-bar image='/assets/images/logo-white.png'}}
      {{#if me.admin}}
        {{#nav-link link='admin.devices' icon='shield'}}
          Admin
        {{/nav-link}}
      {{/if}}
      {{#nav-link link='me' icon='account-settings-variant'}}
        {{me.displayName}}
      {{/nav-link}}
    {{/nav-bar}}
  {{/unless}}
</header>

<main>
  {{#unless noContainer}}
    <div class='container'>
      {{outlet}}
    </div>
  {{else}}
    {{outlet}}
  {{/unless}}
</main>

{{#unless noFooter}}
  {{footer-bar}}
{{/unless}}

{{ember-notify messageStyle='bootstrap'}}