{{#if icon}}
  <i class="{{icon}} prefix"></i>
{{/if}}

{{component (concat "one-way-" type)
  value=(get changeset property)
  update=(action (mut (get changeset property)))
  onblur=(action 'validateProperty' changeset property)
  option=option
  name=(concat elementId type)
  elementId=(concat elementId type option)
  required=required
  pattern=pattern
  maxlength=maxlength
  readonly=readonly
  disabled=disabled
  autocomplete=autocomplete
  autofocus=autofocus
  step=step
  min=min
  max=max
  placeholder=placeholder}}

<label for={{concat elementId type option}}>{{label}}</label>

<small class="red-text">
  {{#if (get changeset.error propertyName)}}
    {{#each (get (get changeset.error propertyName) 'validation') as |error|}}
      {{error}}
      <br>
    {{/each}}
  {{else}}
    &nbsp;
  {{/if}}
</small>