<div class="chip">
  {{device.name}}
  {{#if me.admin}}
    &nbsp;({{device.hardwareId}})
  {{/if}}
  &nbsp;-&nbsp;
  {{device.status}}
  {{#if device.updatedAt}}
    {{moment-from-now device.updatedAt}}
  {{/if}}
  <div class="light {{if (eq device.status 'Off') 'red' 'green'}}"></div>
</div>